.isa-color-standard{
    background-color: #001021;
}

.isa-text-color-darkBlue{
    color: #001021;
}

.isa-text-color-green{
    color: #71ff1e;
}

.isa-bg-green{
    background-color: #71ff1e;
}

.isa-btn-more-detail{
    background-color: #71ff1e;
    color: #001021;
}